#breweryCard{
    padding: 20px 0px 12px 0px;
    color: #eeeeee;
}
.breweryCard__container{
    background-color: #13132D;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 340px;
    height: 190px;
}
.breweryCard__title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.breweryCard__data-img{
    height: 71px;
    width: 71px;
}
.breweryCard__data-img img{
    height: 71px;
    width: 71px;
    border-radius: 50%;
}
.breweryCard__data{
    display: flex;
    gap: 10px;
}


.breweryCard__see-more{
    width: 244px;
    height: 32px;
    border-radius: 8px;
    align-self: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(to right, #3540E8 0%, #E41AD6 100%);
    border: unset;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.7s ease;
}
.breweryCard__see-more:hover{
    background: linear-gradient(to right, #E41AD6 0%, #3540E8 100%);;
    background-position:244px; 
}
