header#header__mobile svg {
    cursor: pointer;
}
.header__mobile-container {
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
}
.header__mobile-options {
    display: flex;
    gap: 16px
}